
a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none; 
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}
a {
	color: #fff;
	font-size: 21px;
}
.login-head {
	background-color: #000;
	height: 120px;

}
.login-head img {
	height: 50px;
	width: 220px;
	margin: 40px 50px;
}
.round-input {
	border-radius: 50px;
	height: 50px;

}
.form-1 {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
	border-radius:5px;

}
.card-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.img-carousel {
	width: 20px;
	height: 20px;
	border-radius: 50px;
}
.prev-icon {
	background-color: blue

}
.head-main {
	background-color: #2e2e2e;
}
.head-ul {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
	color: #fff;
}
.head-li {
	margin-top: 6px;
}
.Techademy-img {
	background-image: url("../img/techademy.png");
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 22px;
	color: transparent;
	width: 150px;
	margin-top: 5px;
}
.content-head {
	background-color:#2e2e2e; 
	color: #fff;
	font-family: sans-serif;
	
}


/*----------Media query start --------------*/

@media screen and (min-device-width: 768px) {
	.form-1 {
		left: 120px;
	}
	.Techademy-img {
		margin-left: 0px;
	}
	.admin-li {
		margin-right: 0px;
	}
}


@media screen and (min-device-width: 1024px){
	.form-1 {
		left: 520px;
		top: -54px;
		background-color: #fff;
		border-radius: 5px;
	}
	.card-shadow {
		width: 400px;
		margin-top: -50px;
	}
}