<!DOCTYPE html>
<html lang="en">
	<head>
		<title>IRIS Techademy</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
<body>
	<header class="login-head">
		<img src="../img/techademy.png" class="login-img">	
	</header>
	<!-- login page content start-->
	<div class="container">		
		<div class="row">
			<div class="col-12 col-sm-12 col-md-8 col-lg-4 form-1">
				<form class="form-2">
					<div class="form-group">
						<h2 class="mt-4 mb-4 text-center">Login</h2>
						<input type="text" class="form-control mt-3 round-input">
						<input type="password" class="form-control mt-3 round-input">
						<button type="button" class="btn btn-primary btn-block mt-3 round-input" href="about.html">login</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
	<!-- login page content end  -->
	<div class="container mt-1 mb-2">
		<div class="card card-shadow">
			<div class="card-body">
			   <h5 class="card-title">Featured</h5>
			   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<img src="../img/course-lib.jpg">
	  		<div class="card-body">	    		
	    		<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    		<span><a href="#" class="btn">Read More</a></span>
	    		<span><a href="#" class="btn">Register</a></span>
	  		</div>
		</div>
	</div>
	
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
</body>
</html>