* {
	margin: 0;
	padding: 0;
}
ul,li {
	list-style-type: none;
}
a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none; 
}
a:hover {
	color:#fff;
}
h1,h2,h3,h4,h5,p,a,span {
	color: #fff;
}
body {
	background-image: url("../img/index1.jpg");
	background-repeat: no-repeat;
}
.logo1 {
	background-image: url("../img/techademy.png");
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 1px;
	color: transparent;
	width: 165px;
	margin: 10px auto;
	display: block;
	height: 39px;
}
.main-head li{
	display: none;
}
.humburger {
	color:#fff;
	font-size: 25px;
	top:-47px;
	left: 20px;
}
.container-form {
	margin-top: 110px;
}
.login-form input{
	background-color: #00eaff;
	border:none;
	border-radius: 50px;
	width: 100%;
	height: 50px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	color: #fff;
}
.login-form button {
	background-color: #ff0a7c;
	border:none;
	border-radius: 50px;
	width: 100%;
	height: 50px;
	margin: 5px;
	padding: 10px;
	color:#fff;
}
.head-size {
	font-size: 1.7em;
}
.card-content {
	border:none;
}









@media screen and (min-device-width: 768px) {
	.logo1 {
		margin: 20px;		
	}
	.main-head {
		display: flex;
		justify-content: flex-end;
		margin-top: -10px;
	}
	.main-head li {
		padding: 0 10px;
		margin-top: -55px;
		font-size: 22px;
		font-weight: 600;
		display: block;
	}
	.main-head a, span {
		color: #ff2684;
		font-style: bold;

	}
	.main-head a:hover {
		border-bottom: 2px solid #f50c81;
		padding-bottom: 10px;
	}
	.active-a{
		border-bottom: 2px solid #f50c81;
		padding-bottom: 10px;
	}
	.humburger {
		display: none;
	}
	.container-form {
		margin-left: 75px;
		margin-bottom:280px;
	}
	.login-form input{
		width: 30%;
	}
	.login-form button{
		width: 20%;
	}
	.head-size1 {
		margin-top: 167px;
		margin-right: 94px;
		font-size: 60px;
	}
	.head-size2{
		margin-top: 30px;
		margin-left: 150px;
		font-size: 60px;
	}
	.head-size3{
		margin-top: 20px;
		margin-left: 20px;
		font-size: 60px;
	}
	.card-content {
		height: 100px;
	}
} 






@media screen and (min-device-width: 1024px) {
	.head-size1 {
		margin-top: 160px;
		margin-right: 200px;
		font-size: 75px;
	}
	.head-size2{
		margin-top: 8px;
		margin-left: 200px;
		font-size: 75px;
	}
	.head-size3{
		margin-top: 8px;
		margin-left: 20px;
		font-size: 75px;
	}
	.container-form {
		margin-left: 100px;
		margin-top: 120px;
	}
	.card-content {
		height: 100px;
	}
	.card-bg {
		background-color: #ffffff;
		max-width: 1440px;
		height: 300px;
		padding: 20px;
	}
}